@model LuanVan.Web.Models.ViewModel.CreateVocabularyViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Vocabulary", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vocabulary</legend>
        @Html.HiddenFor(model => model.GroupId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Word)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Word)
            @Html.ValidationMessageFor(model => model.Word)
        </div>

        <div>
            <label for="file">Upload Image:</label>
            <input type="file" name="ImageFile" id="file" /> 
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Vocabulary List", "Details", "Group", new { Id = @Model.GroupId}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
