@model IEnumerable<LuanVan.Web.Models.Domain.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th></th>
    </tr>

@{int rowNo=0;}
@foreach (var item in Model) {
    <tr>
        <td>@(rowNo+=1)</td>
        <td>@item.Name</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
