@model LuanVan.Web.Models.ViewModel.DetailGroupViewModel

@{
    ViewBag.Title = "Details";
}

<h3>
    @if (ViewBag.Error != null)
    {
        @:@ViewBag.Error
    }
</h3>

<h2>Details</h2>

<fieldset>
    <legend>Group</legend>

    <div class="display-label">Group: @Html.DisplayFor(model => model.Name)</div>

    <div class="display-label">Image: <a href="@Model.ImageUrl" target="_blank"><img src="@Model.ImageUrl" style="max-width: 100px;"/></a></div>

    <p>
        @Html.ActionLink("Create New Vocabulary", "Create", "Vocabulary", new { groupId = Model.Id }, null)
    </p>
</fieldset>

<table>
    <tr>
        <th>No.</th>
        <th>Voca</th>
        <th>Image</th>
        <th>QR Code<th>
        @*<th>Action</th>*@
    </tr>

@{int rowNo=0;}
@foreach (var item in Model.Vocabularies) {
    <tr>
        <td>@(rowNo+=1)</td>
        <td>@item.Word</td>
        <td><a href="@item.ImageUrl" target="_blank"><img src="@item.ImageUrl" style="max-width: 100px;"/></a></td>
        <td><a href="/Vocabulary/GenerateQRCode?imageId=@item.ImageId" target="_blank"><img src="@Url.Action("GenerateQRCode", "Vocabulary", new { imageId = item.ImageId })" style="width: 100px; height: 100px;" /></a></td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Vocabulary", new { id=item.Id }, null) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", "Vocabulary", new { id=item.Id }, null)
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to Group List", "Details", "Lesson", new { id = Model.LessonId }, null)
</p>
